<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Realtime Task Board</title>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/black-tie/jquery-ui.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans&amp;subset=latin">
  <link rel="stylesheet" href="/bower_components/bootstrap/docs/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/app/app.css">
  <link rel="stylesheet" href="/bower_components/angularjs-toaster/toaster.css">
  <link rel="stylesheet" href="/app/youtube-player.css">
  <link rel="stylesheet" href="/app/farbtastic.css">
  <script>document.domain = document.domain;</script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bower_components/jquery/jquery.min.js"></script>
  <script src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="/bower_components/swfobject/swfobject/swfobject.js"></script>
  <script src="/bower_components/fingerprint/fingerprint.js"></script>
  <script src="/bower_components/angularjs-toaster/toaster.js"></script>
  <script src='/bower_components/webtoolkit.base64/base64.js'></script>
  <script src='/bower_components/html2canvas/build/html2canvas.min.js'></script>
  <script src='/bower_components/jquery.pep/dist/jquery.pep.min.js'></script>
  <script src="/app/RTCMultiConnection.js"></script>
  <script src="/app/jquery.youtube.player.js"></script>
  <script src='/app/paper.js'></script>
  <script src='/app/jquery_browser.js'></script>
  <script src='/app/farbtastic.js'></script>
  <script src="/app/collab-board.js"></script>
  <script src='/app/draw.js' type="text/paperscript" canvas="myCanvas"></script>
</head>
<body ng-controller="MainCtrl" ng-show="isShow">
<div id="editbar" class="toolbar">
  <div id="overlay">
    <div id="overlay-inner">
    </div>
  </div>
  <div style="position: absolute;top: 8px;left: 495px;z-index: 9999;height: 20px;overflow-y: hidden;">
    <div id="file-progress"></div>
  </div>
  <ul class="menu_left">
    <input id="ytURL" ng-model="movieVal" type="text" class="title" placeholder="유투브 url 입력후 엔터" style="height:20px;margin: 0 0 0 7px;" movie-url-sender>
    <!-- paint brush -->
    <li class="acl-write" data-key="draw">
      <a class="grouped-left" data-l10n-id="draw.toolbar.draw.title" id="drawTool">
        <span class="buttonicon buttonicon-draw"></span>
      </a>
    </li>
    <!-- pencil brush -->
    <li class="acl-write" data-key="pencil">
      <a class="grouped-middle" data-l10n-id="draw.toolbar.pencil.title" id="pencilTool">
        <span class="buttonicon buttonicon-pencil"></span>
      </a>
    </li>
    <!-- ColorPicker -->
    <li class="acl-write"  data-key="showusers">
      <a class="grouped-middle" data-l10n-id="draw.toolbar.showusers.title" id="usericon">
        <span class="buttonicon buttonicon-color_picker"></span>
      </a>
    </li>
    <!-- Select Tool -->
    <li class="acl-write" data-key="select">
      <a class="grouped-middle" data-l10n-id="draw.toolbar.select.title" id="selectTool">
        <span class="buttonicon buttonicon-select"></span>
      </a>
    </li>
    <!-- Note -->
    <li class="acl-write">
      <a class="grouped-middle">
        <span class="buttonicon buttonicon-note" id="createButton" ng-click="createNote()"></span>
      </a>
    </li>
    <!-- Upload -->
    <li class="acl-write"  data-key="upload">
      <a class="grouped-middle" data-l10n-id="draw.toolbar.upload.title" id="uploadImage">
        <span class="buttonicon buttonicon-upload"></span>
      </a>
      <!-- FileSharing -->
    <li class="acl-write"  data-key="file" id="fileShareLi" style="display: none">
      <a class="grouped-middle" data-l10n-id="draw.toolbar.file.title" id="fileShare">
        <span class="buttonicon buttonicon-file"></span>
      </a>
      <!-- ScreenSharing -->
    <li class="acl-write"  data-key="screen">
      <a class="grouped-right" data-l10n-id="draw.toolbar.screen.title" id="screeShare">
        <span class="buttonicon buttonicon-screen"></span>
      </a>
    </li>
  </ul>
  <ul class="menu_right">
    <!-- settings -->
    <li data-key="settings">
      <a id="settingslink" class="grouped-left" data-l10n-id="draw.toolbar.settings.title">
        <span class="grouped-left buttonicon buttonicon-settings"></span>
      </a>
    </li>
    <!-- import export -->
    <li data-key="import_export">
      <a id="importExport" class="grouped-right" data-l10n-id="draw.toolbar.import_export.title">
        <span class="buttonicon buttonicon-import_export"></span>
      </a>
    </li>
    <!-- user stuff -->
    <li class="separator"></li>
    <li>
      <a>
        <span class="buttonicon buttonicon-showusers"></span>
        <span id="online_count">1</span>
      </a>
    </li>
  </ul>
</div>
<div id="settings" class="popup">
  <h1 data-l10n-id="draw.settings.padSettings"></h1>
  <div class="column">
    <h2 data-l10n-id="draw.settings.ClearCanvas">전체 지우기</h2>
    <a>정말 전체를 지우시겠습니까?</a>
    <div><button id="clearCanvas">OK</button></div>
  </div>
</div>
<div id="embed" class="popup">
  <h1 data-l10n-id="draw.share">Share & Embed</h1>
  <div id="linkcode">
    <h2 data-l10n-id="draw.share.link">Share</h2>
    <input id="linkinput" type="text" value="">
  </div>
  <br>
  <div id="embedcode">
    <h2 data-l10n-id="draw.share.emebdcode">Embed</h2>
    <input id="embedinput" type="text" value="">
  </div>
</div>
<div id="settings" class="popup">
  <h1 data-l10n-id="draw.settings.padSettings">Settings</h1>
  <div class="column">
    <h2 data-l10n-id="draw.settings.myView"></h2>
  </div>
</div>
<div id="importexport" class="popup">
  <h1 data-l10n-id="draw.importExport.import_export">내보내기</h1>
  <div class="column">
    <h2 data-l10n-id="draw.importExport.export"></h2>
    <div>
      <a id="exportSVG" target="_blank" class="exportlink">SVG로 내보내기</a>
    </div>
    <div>
      <a id="exportPNG" target="_blank" class="exportlink">PNG로 내보내기</a>
    </div>
  </div>
</div>
<div id="lostConnection" class="hidden">
  <p>
    Lost connection to the server! Please refresh this page.
  </p>
</div>
<div id="loading" class="hidden" style="display:block;">
  <p>
    Loading
  </p>
</div>
<input type="file" id="imageInput" accept="image/*">
<input type="file" id="fileInput">
<div id="activeColorSwatch">
</div>
<div id="canvasContainer">
  <div id="videos-container" style="width: 800px;height: 800px"></div>
  <canvas id="myCanvas" resize="true"></canvas>
  <div id="mycolorpicker">
    <div id="colorpickerMover">
    </div>
    <div id="colorpicker">
    </div>
    <div id="opacity">
      <div id="opacityLabel">
        투명도
      </div>
      <input type="range" min="0" max="255" value="200" id="opacityRangeVal">
    </div>
  </div>
</div>
<toaster-container toaster-options="{'time-out': 6000}"></toaster-container>
<div sticky-note ng-repeat="note in notes" note="note" class="alert alert-block sticky-note" ondelete="deleteNote(id)" style="display:none">
  <button type="button" class="close" ng-click="deleteNote(note.id)">&times;</button>
  <textarea ng-model="note.body" ng-change="updateNote(note)" placeholder="글을 입력해 주세요" ng-auto-expand>{{note.body}}</textarea>
</div>
<div class="youtube-player" sticky-movie movie="movie" style="margin-left:-9999px;left:-9999px;">
  <div class="youtube-player-video">
    <div class="youtube-player-object">
    </div>
  </div>
</div>
</body>
</html>
